.transition {
  transition: all 0.25s ease-in-out;
}
.flipIn {
  animation: flipdown 0.5s ease both;
}
.no-select {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.about {
    &__accordion-item {
        position: relative;
        background-color: #000;
        @extend .flipIn;
        &:nth-of-type(1) {
            animation-delay: 0.5s;
        }
        &:nth-of-type(2) {
            animation-delay: 0.75s;
        }
        &:nth-of-type(3) {
        animation-delay: 1.0s;
        }
        &:last-of-type {
            padding-bottom: 0;
        }
        i {
            position: absolute;
            transform: translate(-6px, 0);
            margin-top: 20px;
            right: 30px;
            &::before , &::after {
                content: "";
                @extend .transition;
                position: absolute;
                background-color: $yellow;
                width: 2px;
                height: 12px;
            }
            &::before {
                transform: translate(-2px, 0) rotate(45deg);
            }
            &::after {
                transform: translate(6px, 0) rotate(-45deg);
            }
        }
        input[type=checkbox] {
            position: absolute;
            cursor: pointer;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            &:checked {
                &~p {
                    margin-top: 0;
                    max-height: 0;
                    opacity: 0;
                    transform: translate(0, 50%);
                }
                &~i {
                    &::before {
                        transform: translate(6px,0) rotate(45deg);
                    }
                    &::after {
                        transform: translate(-2px, 0) rotate(-45deg);
                    }
                }
            }
        }
    }
    &__accordion-title {
        display: block;
        padding-top: 12px;
        padding-bottom: 11px;
        padding-left: 7.5%;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        background-color: $dark;
        border-bottom: 2px solid #000;
        @extend .no-select;
    }
    &__accordion-text {
        position: relative;
        overflow: hidden;
        max-height: 800px;
        margin-top: 14px;
        padding-left: 20px;
        padding-right: 35px;
        @extend .transition;
        background-color: #000;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        opacity: 1;
        transform: translate(0, 0);
        z-index: 2;
    }
}
@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }
    5% {
        opacity: 1;
    }
    80% {
        transform: rotateX(8deg);
    }
    83% {
        transform: rotateX(6deg);
    }
    92% {
        transform: rotateX(-3deg);
    }
    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}
@media (min-width: $tablet-width) {
    .about {
        &__accordion-menu {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        &__accordion-item {
            i {
                &::before, &::after {
                    width: 0;
                    height: 0;
                    background-color: transparent;
                    transform: none;
                }
            }
            &:nth-of-type(1) {
                i {
                    &::before {
                        position: absolute;
                        content: "";
                        background: url("../../img/main/icons/about-fire.svg");
                        width: 30px;
                        height: 35px;
                        top: -11px;
                        right: 0;
                    }
                }
            }
            &:nth-of-type(2) {
                i {
                    &::before {
                        position: absolute;
                        content: "";
                        background: url("../../img/main/icons/about-phone.svg");
                        width: 30px;
                        height: 30px;
                        top: -7px;
                        right: 10px;
                    }
                }
            }
            &:nth-of-type(3) {
                i {
                    &::before {
                        position: absolute;
                        content: "";
                        background: url("../../img/main/icons/about-men.svg");
                        width: 38px;
                        height: 30px;
                        top: -9px;
                        right: 0;
                    }
                }
            }
            &:nth-of-type(4) {
                i {
                    &::before {
                        position: absolute;
                        content: "";
                        background: url("../../img/main/icons/about-delivery.svg");
                        width: 40px;
                        height: 27px;
                        top: -6px;
                        right: 0;
                    }
                }
            }
        }
        &__accordion-title {
            padding-top: 15px;
            padding-bottom: 14px;
            padding-left: 50px;
            font-size: 20px;
            line-height: 24px;
            border-bottom: none;
        }
        &__accordion-text {
            padding-right: 20px;
            padding-left: 50px;
        }
        .text-call,
        .title-call,
        .title-delivery,
        .text-delivery {
            padding-left: 0;
            padding-right: 70px;
        }
    }
}