.main-catalog {
    &__wrapper {
        max-width: 1366px;
        width: calc(100% - 40px)!important;
        margin: 0 auto;
    }
}
.catalog {
    &__catalog {
        margin-bottom: 30px;
    }
    &__wrapper {
        display: grid;
        gap: 9px;
        grid-template-columns: 1fr 1fr;
    }
    &__card {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 0 4px rgba(0,0,0,.2);
        border-radius: 5px;
        padding: 9px 8px 12px;
        min-width: 135px;
        min-height: 217px;
        transition: .3s;
    }
}
.filter-button {
    padding-bottom: 32px;
    &__btn {
        padding-left: 35px;
        padding-right: 35px;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 2px;
        background: rgba(0, 0, 0, 0.04);
        border: 1px solid #C4C4C4;
        backdrop-filter: blur(3px);
    }
}
.card {
    &__wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    &__details {
        display: block;
        margin-bottom: 4px;
        transition: color .3s; /*доделать*/
    }
    &__img {
        width: 107px;
        height: 124px;
        margin: 0 auto 8px;
        display: block;
        align-self: center;
        object-fit: contain;
    }
    &__currency {
        display: flex;
        align-items: baseline;
        justify-content: center;
        margin-bottom: 4px;
        font-weight: 800;
        font-size: 14px;
        line-height: 19px;
        span {
            display: block;
            font-size: 9px;
            font-weight: 400;
            line-height: 12px;
        }
    }
    &__title {
        font-size: 9px;
        font-weight: 400;
        line-height: 12px;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    &__button {
        flex: 1 1 auto;
        width: 112px;
        height: 20px;
        font-size: 9px;
        line-height: 12px;
    }
}
.more-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    &__text {
        font-size: 14px;
        line-height: 19px;
        text-align: center;
    }
}
.arrow-up {
    &__anchor {
        display: block;
        margin-bottom: 30px;
        text-align: center;
    }
}
@media (min-width: 500px) {
    .catalog {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
        }
    }
}
@media (min-width: 1024px) {
    .main-catalog {
        &__wrapper {
            width: calc(100% - 100px)!important;
        }
    }
}
@media (min-width: 1200px) {
    .main-catalog {
        &__wrapper {
            width: calc(100% - 130px)!important;
        }
    }
}