.header {
    position: relative;
    &__logo-wrapper {
        position: relative;
        min-width: 320px;
        height: 60px;
        margin: 0 auto;
        background-color: #000;
    }
    &__logo {
        display: block;
        width: 120px;
        height: 32px;
        margin-left: 6.25%;
        padding-top: 14px;
        cursor: pointer;
        &:hover,
        &:focus {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }
    &__card {
        position: absolute;
        top: 22px;
        right: 22%;
        span {
            top: -10px;
            display: block;
            position: absolute;
            left: 10px;
            width: 20px;
        }
    }
    &__bg {
        position: absolute;
        width: 100vw;
        z-index: -1;
        img {
            width: 100%;
        }
    }
}
.header-desk {
    display: none;
}
@media (min-width: $tablet-width) {
    .header {
        &__logo-wrapper {
            height: 63px;
        }
        &__logo {
            margin: 0 auto;
            padding-top: 16px;
            width: 137px;
            height: 36px;
            img {
                width: 137px;
                height: 36px;
            }
        }
        &__card {
            display: none;
        }
    }
}
@media (min-width: $desktop-width) {
    .header {
        display: none;
    }
    .header-desk {
        display: block;
        position: relative;
        width: calc(100vw - 300px);
        &__wrapper {
            height: 110px;
            background-color: #fff;
        }
        &__logo-wrapper {
            padding-top: 30px;
            padding-left: 30px;
            background-color: #000;
        }
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 110px;
            padding-left: 70px;
            padding-right: 70px;
        }
        &__item {
            z-index: 10;
            a {
                font-size: 20px;
                font-weight: 500;
                font-family: inherit;
            }
            &--current {
                a {
                    border-bottom: 2px solid #000;
                }
            }
            &.header-desk__card {
                a {
                    position: relative;
                    span {
                        position: absolute;
                        display: block;
                        top: -7px;
                        right: -10px;
                    }
                }
            }
        }
        &__img {
            position: absolute;
            top: 0;
        }
    }
}