.header {
    position: relative;
    &__logo-wrapper {
        position: relative;
        min-width: 320px;
        height: 60px;
        margin: 0 auto;
        background-color: #000;
    }
    &__logo {
        display: block;
        width: 120px;
        height: 32px;
        margin-left: 6.25%;
        padding-top: 14px;
        cursor: pointer;
        &:hover,
        &:focus {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }
    &__card {
        position: absolute;
        top: 22px;
        right: 22%;
        span {
            top: -10px;
            display: block;
            position: absolute;
            left: 10px;
            width: 20px;
        }
    }
    &__bg {
        img {
            width: 100%;
            background-size: cover;
        }
    }
}
@media (min-width: $tablet-width) {
    .header {
        &__logo-wrapper {
            height: 63px;
        }
        &__logo {
            margin: 0 auto;
            padding-top: 16px;
            width: 137px;
            height: 36px;
            img {
                width: 137px;
                height: 36px;
            }
        }
        &__card {
            display: none;
        }
    }
}