.section-filter {
    &__title {
        display: none;
    }
    &__buttons {
        display: flex;
        justify-content: space-around;
        padding-bottom: 30px;
        & button {
            margin: 0;
            width: 125px;
            font-size: 12px;
            padding: 6px 20px;
            border-radius: 2px;
        }
    }
    &__button-reset {
        color: $yellow;
    }
}
.popup-filter {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    &__wrapper {
        display: table;
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
    &__inner {
        padding: 0 20px;
        max-width: 100%;
        margin: 0 auto;
        display: table-cell;
        vertical-align: middle;
    }
    &__content {
        background: #fff;
        max-width: 730px;
        margin: 0 auto;
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        &-centered {
            display: flex;
            flex-direction: column;
        }
    }
    &__button-close {
        position: absolute;
        top: 20px;
        right: 0px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        background: transparent;
        border: none;
        &::before, &::after {
            content: "";
            background: #000;
            height: 26px;
            width: 3px;
            position: absolute;
            border: 10px;
            top: 50%;
        }
        &::before {
            transform: translateY(-50%) rotate(45deg);
        }
        &::after {
            transform: translateY(-50%) rotate(-45deg);
        }
    }
}
.filter-form > div {
    border-bottom: 1px solid #000;
    padding: 10px 0;
}
.filter-form {
    &__wrapper {
        &-category {
            position: relative;
            &::after {
                position: absolute;
                content: "";
                background: url("../../img/main/honey-decor-mob@1x.png") no-repeat;
                width: 95px;
                height: 59px;
                top: 0;
                right: 0;
            }
            @media (min-resolution: 2dppx) {
                &::after {
                    background: url("../../img/main/honey-decor-mob@2x.png") no-repeat;
                    background-size: 95px 59px;
                }
            }
        }
    }
    &__title {
        padding-bottom: 7px;
        font-size: 14px;
        font-weight: 500;
        line-height: 30px;
        text-decoration: underline;
    }
    &__price-label {
        font-size: 12px;
        line-height: 30px;
        text-align: center;
    }
    &__nav-category, &__nav-model {
        padding-left: 25px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    &__item {
        padding-bottom: 8px;
        font-size: 13px;
        line-height: 18px;
        &.is-active {
            position: relative;
            padding-left: 23px;
            &::before {
                position: absolute;
                content: "";
                background: url("../../img/main/icons/vector-aside.svg") no-repeat;
                width: 13px;
                height: 15px;
                top: 1px;
                left: 0;
            }
            & button {
                font-size: 15px;
                line-height: 20px;
                font-weight: 600;
                text-align: left;
            }
        }
    }
}
.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 25px;
    position: absolute;
    background: #a4a4a4;
    outline: none;
}
.slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 25%;
    top: 15px;
    width: 50%;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    background: #ea4550;
    cursor: pointer;
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ea4550;
    cursor: pointer;

    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}
.slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    border: 0;
}
.slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;

}
.slider input[type=range]::-moz-focus-outer {
border: 0;
}