*, *::after, *::before {
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
html, body {
    position: relative;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-width: 320px;
    min-height: 100%;
    margin: 0;
    align-content: start;
    font-family: 'Manrope', Arial, sans-serif;
    font-weight: 400;
    background-color: #fff;
    color: #000;
}
main {
    width: 100vw;
    margin-top: -20px;
}
.button {
    text-transform: uppercase;
    background-color: $yellow;
    color: #fff;
    font-family: 'Manrope', Arial, sans-serif;
    border: 0;
    outline: none;
}
@media (min-width: $tablet-width) {
    main {
        margin-top: 0;
    }
}
@media (max-width: $desktop-width - 1px) {
    aside {
        display: none;
    }
}
@media (min-width: $desktop-width) {
    body {
        grid-template-columns: 285px repeat(3, 1fr);
        grid-template-areas: "aside header header header" "aside main main main" "aside footer footer footer";
        height: auto;
    }
    header {
        grid-area: header;
    }
    main {
        grid-area: main;
        width: calc(100vw - 285px);
        z-index: 1;
    }
    aside {
        grid-area: aside;
        position: fixed;
        width: 285px;
        height: 100vh;
        min-height: 100%;
        background-color: #000;
        z-index: 1;
    }
    footer {
        grid-area: footer;
        height: 100px;
    }
}
@media (min-width: $fullhd-width) {
    body {
        grid-template-columns: 300px 1fr;
    }
    aside {
        width: 300px;
    }
}
img {
    max-width: 100%;
    border-style: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
button {
    border: none;
    outline: none;
    padding: 0;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  margin: 0;
}
.no-scroll {
    overflow: hidden;
}

/* progect */