// Colors
//переменные для цветов

// $basic-white: #ffffff;
// $basic-green: #68b738;

// Viewports
//устанавливаю брэкпоинты
//чтобы использовать
//@media (min-width: $tablet-width) {
//     margin: 0;
//     padding: 3px 0 0 27px;
//     border: none;
//   }

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$bigtablet-width: 1024px;
$desktop-width: 1200px;
$fullhd-width: 1440px;
